<div class="back">
  <div class="reset">
    <div class="leftbox">
      <img src="assets\icon.png" alt="LOGO" width="10%" class="image">

      <div class="let">
        <h1>Reset your password </h1>
        <h4>Please choose a new password to finish signing in.</h4>
        <h4>Read some tips on <span><a mat-button color="primary"
              href="https://support.google.com/googleone/answer/12262531?hl=en" target="_blank">creating a secure
              password.</a></span>
        </h4>
      </div>
    </div>
    <form [formGroup]="resetForm" (ngsubmit)="ResetSubmit()">
      <div class="rightbox">


        <mat-form-field appearance="outline">
          <mat-label>New password</mat-label>
          <input matInput placeholder="newpassword" formControlName="newpassword">
          <mat-error *ngIf="resetForm.hasError('required','newpassword')">
            Value is Required!
          </mat-error>
          <mat-error *ngIf="resetForm.hasError('pattern','newpassword')">
            Password is not valid!
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Re-enter new password</mat-label>
          <input matInput placeholder="re-enter new password" formControlName="re_enter_newpassword">
          <mat-error *ngIf="resetForm.hasError('required','re_enter_newpassword')">
            Value is Required!
          </mat-error>
          <mat-error *ngIf="resetForm.hasError('pattern','re_enter_newpassword')">
            Password is not valid!
          </mat-error>
        </mat-form-field>
        <div class="button1">
          <button mat-raised-button color="primary">Reset password</button>
        </div>
      </div>
    </form>
  </div>
</div>